# Server Configuration
PORT=5001
HOST=127.0.0.1
USE_NGROK=false

# Ngrok Auth Token (Opsional - Set USE_NGROK=true jika ingin mengaktifkan ngrok)
NGROK_AUTH_TOKEN=your_ngrok_auth_token_here

# Local LLM Directory Path
LOCAL_LLM_DIR=./local_llm
